<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture Bundles</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">


<!-- Top Nav -->
<div class="navbar">
  <%= image_tag "house-logo.png", class: "logo" %>
  <a href="/">Home</a>
  <a href="#news">Contact</a>
  <a href="#contact">About</a>

  <div class="signup-btn">
    <% if !user_signed_in? %>
    <%= link_to "Seller Log In", new_user_session_url, class: "margin-right-navbar" %>
    <% end %>

  <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_url, method: :delete  %>
    <% else %>
    <%= link_to "Sign Up as Seller", new_user_registration_url, class: "btn-secondary" %>
    <% end %>
  </div>
</div>

<!-- Rest of Page -->

<div class="seller-banner">

   <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
    <button id="All">All Offfers</button>
    <button>My Offers</button>
  </div>

  <% if user_signed_in? %>
    <h1>Welcome back, <%= @user.first_name.capitalize %>!</h1>
  <% else %>
    <h1>Hello there!</h1>
  <% end %>
<div class ="row">
  <div class="container col-2">
<%= link_to "Create a New Bundle", new_bundles_offer_url, class: "btn-seller"  %>
  </div>
 </div>
<br>
<br>
<% if user_signed_in? && @user.user_type == "Seller" %>
  <h2> See Your Existing Furniture Bundles </h2>
<% else %>
  <h2> See all our Furniture Offers </h2>
<% end %>




<% @bundles.each do |bundle| %>
  <div class="bundle-cards">
      <div class ="row">
        <div class="container m-2">
          <h3> <%= bundle.name.capitalize %> </h3>
          <%= link_to "View", bundles_offer_url(bundle) %>
          <p> <%= bundle.description.capitalize %> </p>
  </div>
  </div>
   </div>
<% end %>
</div>



  </body>
</html>





 <!-- No Bootstrap -->

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

<!--     <div class="navbar-minimalist">
      <img src="images/logo.png">
    </div> -->

    <!-- <div class="main-container">
    <div class="bundle-cards">
      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        Rio
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
        Berlin
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
        Shanghai
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
        Barcelona
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/paris)">
        Paris
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/london)">
        London
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
        Melbourne
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/marseille)">
        Marseille
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/buenos-aires)">
        Buenos Aires
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/bali)">
        Bali
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tel-aviv)">
        Tel Aviv
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/kyoto)">
        Kyoto
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/copenhagen)">
        Copenhagen
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lisbon)">
        Lisbon
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/montreal)">
        Montreal
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/nantes)">
        Nantes
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/milan)">
        Milan
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tokyo)">
        Tokyo
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/amsterdam)">
        Amsterdam
      </div>

      <div class="bundle-card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lyon)">
        Lyon
      </div>
    </div>


 -->

