<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Furniture Bundles</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">


<!-- Top Nav -->
<div class="navbar">
  <a class="navbar-brand" href="/">
  <%= image_tag "house-logo.png", class: "logo" %>
  </a>
  <a href="#news">Contact</a>
  <a href="#contact">About</a>

  <div class="signup-btn">
    <% if !user_signed_in? %>
    <%= link_to "Seller Log In", new_user_session_url, class: "margin-right-navbar" %>
    <% end %>

  <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_url, method: :delete  %>
    <% else %>
    <%= link_to "Sign Up as Seller", new_user_registration_url, class: "btn-secondary" %>
    <% end %>
  </div>
</div>

<!-- Rest of Page -->

<div class="seller-banner">

  <h1>Welcome back, <%= @user.first_name.capitalize %>!</h1>

<div class ="row">
  <div class="container col-2">
<%= link_to "Rent Out Furniture", new_bundles_offer_url, class: "btn-seller"  %>
  </div>
 </div>
<br>
<br>

<h2> See Your Existing Furniture Bundles </h2>


<div class="bundle-cards">
<% @bundles.each do |bundle| %>
  <div class="bundle-card">
      <%= cl_image_tag bundle.photos[0].key, height:300, width: 300, crop: :fill %>
      <div class= "bundle-card-footer">
        <h4> <%= bundle.name.capitalize %> </h4>
        <div class="description">
          <%= link_to "View", bundles_offer_url(bundle), class: "view" %>
          <p> $<%= bundle.price %> </p>
        </div>
      </div>
  </div>
<% end %>
</div>
</div>

<!-- code a footer -->
  <div class="footer">
    <p><center>Follow Us</center></p>
    <div class="links">
        <a href="#"><center>
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </center>
    </div>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

