<div class="banner-new">
  <div class="container">
    <%= link_to "Go back", bundles_offers_url, class:"go-back-button" %>
    <h1> New Bundle </h1>

<h4> Hello <%= @user.first_name.capitalize %>, please fill out this form</h4>


<%= simple_form_for @bundle do |f| %>
  <%= f.label :name %>
  <%= f.input :name, input_html: { class: 'user-box' }, label: false%>
  <%= f.label :description %>
  <%= f.input :description, input_html: { class: 'user-box' }, label: false%>
  <%= f.label :price %>
  <%= f.input :price, input_html: { class: 'user-box' }, label: false%>
  <%= f.input :photos, as: :file, input_html: { multiple: true, class: "add-file-btn" } %>
  <%= f.label :Furniture %>
  <br>
  <%= f.collection_check_boxes :furnitures, Furniture.where(user_id: @user.id), :id, :name %>
  <br>
  <%= f.submit %>
<% end %>
  </div>
</div>
