<h1> New Bundle </h1>

<%= link_to "Go back", bundles_offers_url  %>

<%= simple_form_for @bundle do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :description, required: true %>
  <%= f.input :price, required: true %>
  <%= f.input :photos, as: :file,input_html: { multiple: true },  required: true %>
  <%= f.submit %>
<% end %>
