
<!-- Display -->

<div class="show-container">
  <div class="show-image">
    <%= link_to "Go back", bundles_offers_url, class:"go-back-button" %>
    <br>
    <% @bundle.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

  </div>


  <div class="show-text">
    <h2> <%= @bundle.name.capitalize %> </h2>
    <h3> $<%= @bundle.price %> </h3>
    <p> <%= @bundle.description %> </p>

    <% @bundle.furnitures.each do |furniture| %>
    <p> <%= furniture.name %> </p>
    <% end %>

    <%= link_to "Rent Furniture", bundles_offers_url, class: "btn btn-secondary"  %>
    <br><br>
    <h4> Arrives in 2-5 weeks if you order today</h4>


  </div>
</div>
