<div class="container show"> 
<h3> <%= @bundle.name.capitalize %> </h1>
<p> <%= @bundle.description %> </p>
</div>
<div class="container"> 
<% @bundle.furnitures.each do |furniture| %>
  <p> <%= furniture.name %> </p>
  <p> <%= furniture.dimensions %> </p>
  <p> <%= furniture.condition %> </p>
<% end %>
<% @bundle.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>
<br>
<div class="container"> 
<%= link_to "back", bundles_offers_url, class: "btn btn-primary"  %>
</div>