<div class="banner-new">
<%= simple_form_for @furniture do |f| %>
  <%= f.label :name %>
  <%= f.input :name, input_html: { class: 'user-box' }, label: false%>
  <%= f.label :dimensions %>
  <%= f.input :dimensions, input_html: { class: 'user-box' }, label: false%>
  <%= f.label :condition %>
  <%= f.input :condition, input_html: { class: 'user-box' }, label: false%>
  <%= f.input :photos, as: :file, input_html: { multiple: true, class: "add-file-btn" } %>
  <%= f.submit %>
<% end %>
</div>